name: Auto Labeler from Issues

on:
  pull_request:
    types: [opened, edited, reopened]

jobs:
  sync:
    runs-on: ubuntu-latest
    permissions:
      issues: read
      pull-requests: write

    steps:
      - name: Sync labels from linked issues
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          PR_NUMBER: ${{ github.event.pull_request.number }}
        run: |
          ISSUES=$(gh pr view $PR_NUMBER --json closingIssuesReferences -q '.closingIssuesReferences[].number')

          if [ -z "$ISSUES" ]; then
            echo "Can't find issues."
            exit 0
          fi

          for ISSUE in $ISSUES; do
            echo "Copying labels from issue #$ISSUE..."
            
            LABELS=$(gh issue view $ISSUE --json labels -q '.labels[].name')

            for LABEL in $LABELS; do
              echo "Add label: $LABEL"
              gh pr edit $PR_NUMBER --add-label "$LABEL"
            done
          done
